.body1 {
  background-color: #7feb7f;
}

.body2 {
  background-color: #c3f6c3;
}

.gamename {
  text-align: center;
  font-size: 330%;
  color: #0c4c0c;
  margin-top: 0%;
  font-family: "Nunito SemiBold";
}

.beginwindow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 50%;
  background-color: #3be13b;
  border-radius: 1%;
  box-shadow: 2px 2px 4px 2px black;
}

.introfrog {
  height: 60%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

.startbutton {
  display: inline-block;
  margin: 10% 30%;
  width: 40%;
  height: 20%;
  font-size: 150%;
  align-items: center;
  font-family: "Nunito SemiBold";
  border: 3% soild white;
  border-radius: 2% solid green;
  background: -webkit-linear-gradient(
    top,
    rgb(65, 245, 65) 0%,
    rgb(221, 245, 4) 100%
  );
  padding: 2% 2%;
}

.startbutton:hover {
  cursor: pointer;
  background: -webkit-linear-gradient(
    bottom,
    rgb(65, 245, 65) 0%,
    rgb(229, 245, 4) 100%
  );
}

.rules {
  font-size: 150%;
  display: block;
  margin: 0px auto 0px auto;
  text-align: center;
  height: 20%;
  justify-content: space-around;
}

.takeoff {
  display: block;
  margin: 15% auto 0px;
  height: 1%;
  font-size: 200%;
}

.playingfrog {
  height: 9%;
  width: 5%;
  display: inline;
  margin: 0px auto 5px auto;
  position: fixed;
  z-index: 1;
}

.cars {
  width: 6%;
  height: 17%;
  transition: all 2s;
}

.roads {
  display: inline-block;
  width: 100%;
  height: 95%;
  background-color: silver;
}

.pond {
  display: block;
  width: 15%;
  height: 15%;
  float: right;
}

.obstacles {
  z-index: 0;
  margin-top: 5%;
  width: 100%;
  height: 400px;
}
